@import "variables";

%body-styles {
    background-color: color(white);
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    margin: 0;
}

%flex {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    color: color(dark-gray);
}

hr {
    background-color: color(secondary);
}

a {
    text-decoration: none;
    color: color(dark-gray);
}
